# Ignore build output
build/
dist/

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore backup files
*.bak
*.swp
*.~lock.*

# Ignore logs and temporary files
*.log
*.tmp

# Ignore generated documentation
docs/

# Ignore any other files or directories specific to your project
package-lock.json
yarn.lock